/**
  Title: harper-calculator.css
  Author: James Harper
  Date: 4/29/2023
  Description: Web 231 - Week 7 - Assignment 7.2
*/
h1 {
  text-align: center;
}
.input-card {
  width: 400px;
  grid-column: 1;
}
/**
Width and margin adjusted for the result id.
*/
.result {
  width: 400px;
  height: fit-content;
  grid-column-start: 2;
}
/**

*/
.calc-container {
  display: grid;
  width: 800px;
  margin: 3% auto 0;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
.span-results {
  text-align: center;
}
/**

*/
#mul-results, #div-results {
  text-align: center;
  font-size: 28px;
}
/**
Container for the return link. Allows for the link to match the two cards in space.
*/
#link-container {
  width: 800px;
  margin: auto;

}
/**
Return to main page link.
*/
.return-home {
  float: left;
  margin-top: 5px;
  width: 100%;
}
