/**
  Title: harper-number-game.css
  Author: James Harper
  Date: 4/9/2023
  Description: Web 231 - Week 4 - Assignment 4.2
*/

/**
  Sets the body font of the html document. font-family lists the fonts for the document in order of availability.
*/
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

/**
Styles the main heading with font thickness and alignment.
*/
h1, h4 {
  font-weight: 400;
  text-align: center;
}
/**
Styles all buttons with the class btn. Background color to provided hex code, text color white, width to 345px, no border,
no text decoration, sets the cursor to a pointer.
*/
.btn-primary {
  background-color: #4F3674;
  color: #fff;
  width: 345px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  margin: 40px 0 25px 15px;
  cursor: pointer;
  padding: 15px 32px;
}
/**
Sets all classes named form to a width of 355px.
*/
.form {
  width: 355px;
  padding-top: 35px;
}
/**
Id for the input label. Assigns the element to column 1. Text thickness to 300 and aligned center.
Margins set to auto fill.
*/
#numVal {
  grid-column-start: 1;
  font-weight: 300;
  text-align: right;
  margin: auto;
}
/**
Assigns the input from the input class to column 2.
*/
.input {
  grid-column-start: 2;
}
/**
Adjusts the width and margin for the card with an id of numInput.
*/
#numInput {
  width: 700px;
  margin: auto;
}
/**
num-title class margin to auto.
*/
.num-title {
  margin: auto;
}
/**
Width and margin adjusted for the result id.
*/
#result {
  width: 700px;
  margin: 30px auto auto auto;
}
/**
Centers text within the element and margin to auto for the container that holds the return number value.
*/
#num-content {
  text-align: center;
  margin: auto;
}
/**
Increases the font size of the return value by twice the default size.
*/
#guessResult {
  font-size: 2em;
}
/**
Container for the return link. Allows for the link to match the two cards in space.
*/
#link-container {
  width: 700px;
  text-align: center;
  margin: auto;
}
/**
Return to main page link.
*/
.return-home {
  float: left;
  margin-top: 5px;
}
